.clearfix {
    zoom:1
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table
}
.clearfix:after {
    clear:both
}
.comment-form p, .whisper .comment-meta time {
    float:left
}
#logo, .post-title a {
    color:#333
}
#logo img {
    display:block;
    max-height:30px
}
.menu-parent ul, #catalog-col, #music span {
    transition:.2s;
    -webkit-transition:.2s
}
.whisper .post-title .more {
    position:relative;
    float:right
}
.menu-parent:hover>ul {
    visibility:visible;
    opacity:1
}
.menu-parent ul {
    visibility:hidden;
    opacity:0
}
.menu-parent, .l_logo, .loading {
    position:relative
}
.comment-list, .comment-list ol {
    list-style:none;
    margin:0;
    padding:0
}
#catalog-col::-webkit-scrollbar {
    width:6px;
    height:6px
}
 #catalog-col::-webkit-scrollbar-thumb {
    border-radius:3px;
    background-color:#ddd
}
#catalog-col ul {
    padding-left: 1em;
}
.menu-parent ul {
    position:absolute;
    left:50%;
    width:100px;
    margin:0 0 0 -50px;
    padding:0;
    border-radius:5px;
    background:rgba(238, 238, 238, .95);
    text-align:center;
    list-style:none
}
.menu-parent ul:before {
    content:"";
    position:absolute;
    top:-7px;
    left:50%;
    margin-left:-7px;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid rgba(238, 238, 238, .95)
}
.menu-parent li, .whisper .comment-list .respond, .whisper.permission .respond {
    display:block
}
.menu-parent ul a {
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.menu-parent .menu-parent .menu-child {
    background:rgba(221, 221, 221, .95)
}
.copyright {
    color:#999;
    font-size:.875em;
    line-height:1.5
}
#catalog-col {
    position:fixed;
    bottom:5px;
    z-index:5000
}
#catalog-col {
    min-width:150px;
    max-width:50%;
    max-height:50%;
    padding:15px 15px 15px 15px;
    border-right-width:.3em;
    overflow:auto
}
#catalog-col.catalog {
    bottom:25px;
}
.post-content .cl-offset {
    position:relative;
    display:block;
    top:-10px;
    height:0;
    border:0
}
.whisper .post-content {
    min-height:40px;
    margin-top:1em;
    padding:0 1em;
    text-align:center;
    border:1px solid #444;
    border-radius:2px
}
.whisper .post-title {
    font-size:1em;
    font-weight:normal;
    margin:0 -1em
}
.whisper.post .post-title a {
    display:block;
    padding:2px 1em;
    color:#fff;
    background:#444;
    border:0
}
.whisper .post-title a {
    transition:.3s;
    -webkit-transition:.3s
}
.whisper .post-title a:hover {
    background:#000
}
.whisper .post-content pre {
    text-align:left
}
.whisper .notice {
    display:block;
    font-size:.9em;
    padding:5px;
    color:#f44336;
    border:1px solid;
    border-radius:2px
}
.post-content, .comment-content {
    line-height:1.5;
    word-wrap:break-word
}
.post-content hr, .comment-content hr {
    margin:2em auto;
    width:100px;
    border:1px solid #ddd;
    border-width:2px 0 0 0
}
.post-content .thumb, .post-content .more {
    text-align:center
}
.whisper .respond {
    display:none
}
#comments {
    margin-bottom:30px
}
#comments, .breadcrumbs, .tags {
    margin-bottom:0
}
.breadcrumbs {
    margin-top:8px
}
.textbutton .text {
    border:0
}
.whisper .comment-list li.comment-parent {
    border:0;
    border-bottom:1px solid #eee;
    margin-top:10px;
    padding:10px
}
.whisper .comment-parent>.comment-content, .whisper .comment-meta, .whisper .comment-children {
    margin:1em 0 0 42px
}
.whisper .comment-child {
    margin-top:1px;
    padding:5px 8px;
    background:#eee;
    border:0;
    border-radius:2px
}
.whisper .comment-child .comment-content {
    line-height:20px
}
.whisper .comment-child .avatar {
    margin:2px 5px 0 0
}
.whisper {
    line-height:21px
}
.comment-list li {
    margin-top:10px;
    padding:10px;
    border:1px solid #eee
}
.comment-list li.comment-by-author {
    position:relative
}
.author-icon {
    font-size: 12px;
    line-height:19px;
    text-align:center;
}
.comment-list li .comment-reply {
    text-align:right;
    font-size:.9em
}
.comment-meta time {
    color:#999;
    font-size:.9em
}
.comment-author {
    display:block;
    margin-bottom:3px
}
.comment-author .avatar {
    float:left;
    margin-right:10px
}
.comment-author cite {
    font-weight:bold;
    font-style:normal
}
.respond .cancel-comment-reply {
    float:right;
    margin-top:15px;
    font-size:.9em
}
.comment-form input {
    margin-bottom:10px
}
.comment-form .textarea {
    width:68%;
    margin:0 2% 0 0
}
.comment-form .textbutton {
    width:30%;
    margin:0
}
#comment-form button {
    width:100%;
    height:30px;
    border-radius:2px
}
.more {
    margin-bottom:0
}
#catalog-col li {
    margin:5px 0;
    line-height:1.6
}
#footer {
    font-size:.875em;
    padding:2em 0;
    line-height:1.5;
    text-align:center;
    border-top:1px solid #eee
}
#footer, .icpnum {
    color:#999
}
.l_logo img, .l_logo i {
    position:absolute;
    top:0;
    left:0;
    width:16px;
    height:16px;
    padding:7px;
    background:#ccc;
    overflow:hidden
}
.l_logo i {
    font:16px/1 Segoe UI Symbol
}
#music span {
    position:absolute;
    display:block;
    bottom:0;
    width:100%;
    height:100%;
    background:none;
    opacity:.7
}
#music.play span i {
    position:absolute;
    bottom:0;
    display:block;
    height:0;
    width:100%;
    background:#aaa
}
#catalog.catalog:before {
    margin:-4px 0 0 -11px;
    transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg)
}
#catalog.catalog:after {
    margin:2px 0 0 -11px;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg)
}
@media(min-width:601px) {
    .menu-parent .menu-parent .menu-child {
        top:5px;
        left:-120px;
        margin:0
    }
    .menu-parent .menu-parent:hover>.menu-child {
        left:-100px
    }
    .menu-parent .menu-parent .menu-child:before {
        top:7px;
        left:100%;
        margin:0;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;
        border-left:7px solid rgba(221, 221, 221, .95)
    }
}
@media(max-width:1023px) {
    #mdrDrawerR {
        padding-top: 56px;
    }
}
@media(max-width:768px) {
    #main {
        width:100%
    }
    .post-title, .post-meta, .protected .post-content {
        text-align:center
    }
}
@media(max-width:600px) {
    .menu-parent ul {
        position:relative;
        left:0;
        margin:0 auto;
        width:75%;
        visibility:visible;
        opacity:1
    }
    .menu-parent .menu-parent .menu-child:before {
        border-bottom:7px solid rgba(221, 221, 221, .95)
    }
    .comment-form .textarea {
        width:58%
    }
    .comment-form .textbutton {
        width:40%
    }
}
.comment-body, .respond #textarea, .textbutton, .thumb img, .mdui-typo img, .avatar, .notie, .l_logo i {
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.textbutton, .l_logo i {
    border-radius:3px
}

/* Dark mode */
.mdui-theme-layout-dark .post-meta li {
    border-left: 1px solid #444;
}
.mdui-theme-layout-dark .post-content .more a, .mdui-theme-layout-dark .post-meta, .mdui-theme-layout-dark .widget-tile li, .mdui-theme-layout-dark .mdui-row a  {
    color: #aaa;
}
.mdui-theme-layout-dark blockquote {
    background: none;
    color: #fff;
}
.mdui-theme-layout-dark .textbutton {
    box-shadow: none;
}
.mdui-theme-layout-dark .textbutton input, .mdui-theme-layout-dark .respond #textarea {
    background: #424242;
    box-shadow: none;
    border: none;
    color: #fff;
}
.mdui-theme-layout-dark .comment-list li, .mdui-theme-layout-dark .whisper .comment-list li, .mdui-theme-layout-dark .comment-list .respond {
    border-color: #424242;
}
.mdui-theme-layout-dark .whisper .comment-child {
    background: none;
}
.mdui-theme-layout-dark .whisper .comment-body, .mdui-theme-layout-dark .whisper .comment-list li.comment-parent {
    border: 1px solid #424242;
}