.textbutton .text {
    border:0
}
@media(max-width:768px) {
    #main {
        width:100%
    }
    .post-title, .post-meta {
        text-align:center
    }
}
.comment-body, .respond #textarea, .textbutton, .thumb img, .mdui-typo img, .avatar {
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.textbutton {
    border-radius:3px
}

/* Dark mode */
.mdui-theme-layout-dark .post-meta li {
    border-left: 1px solid #444;
}
.mdui-theme-layout-dark .post-meta, .mdui-theme-layout-dark .widget-tile li, .mdui-theme-layout-dark .mdui-row a  {
    color: #aaa;
}
.mdui-theme-layout-dark blockquote {
    background: none;
    color: #fff;
}
.mdui-theme-layout-dark .textbutton {
    box-shadow: none;
}
.mdui-theme-layout-dark .textbutton input, .mdui-theme-layout-dark .respond #textarea {
    background: #424242;
    box-shadow: none;
    border: none;
    color: #fff;
}
.mdui-theme-layout-dark .comment-list li, .mdui-theme-layout-dark .whisper .comment-list li, .mdui-theme-layout-dark .comment-list .respond {
    border-color: #424242;
}
.mdui-theme-layout-dark .whisper .comment-child {
    background: none;
}
.mdui-theme-layout-dark .whisper .comment-body, .mdui-theme-layout-dark .whisper .comment-list li.comment-parent {
    border: 1px solid #424242;
}
