/**
 * MDr 是一套基于 MDUI 开发的 Typecho 模板
 */

table {
    width: 100%;
    border-radius: 2px;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid rgba(0, 0, 0, .12)
}

table td, table th {
    padding: 6px 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-right: 1px solid rgba(0, 0, 0, .12)
}

table tr th:last-child, table tr td:last-child {
    border-right: none
}

table tr:last-child td {
    border-bottom: none
}

.mdui-theme-layout-dark table, .mdui-theme-layout-dark table td, .mdui-theme-layout-dark table th {
    border-color: rgba(255, 255, 255, .12);
}

/* TODO #19 */

a {
    color: #444;
    border: 0;
    text-decoration: none
}

.mdui-theme-layout-dark a {
    color: #fff;
}

ul {
    padding-left: 30px
}

ul li p {
    margin: 0
}

input, textarea, button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    outline: 0;
    appearance: none;
    -webkit-appearance: none
}

input, textarea {
    padding: 5px;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

textarea {
    height: 150px;
    resize: vertical;
    overflow: auto
}

button, input[type=submit] {
    padding: 0 6px;
    background: #ddd;
    border: 0
}

button, input[type=submit] {
    cursor: pointer
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
    -webkit-box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, .25)
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
}

body.mdui-theme-layout-dark::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3)!important
}

.mdui-theme-layout-dark img {
    filter: brightness(75%)
}

.error-page {
    margin-top: 128px;
    margin-bottom: 512px;
    text-align: center
}

.avatar {
    border-radius: 50%
}

#post img, #post video, .comment-content img, .comment-content video, .whisper img, .whisper video {
    max-width: 100%
}

.author-icon {
    font-size: 12px;
    line-height: 19px;
    text-align: center
}

.copyright {
    color: #999;
    font-size: .875em;
    line-height: 1.5
}

@media(max-width: 1023px) {
    .mdui-container {
        padding: 0;
    }
    footer {
        padding: 0 8px
    }
}

html.pray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

@media print {
    header, .mdui-fab-wrapper, .respond {
        display: none!important
    }
    body {
        padding-top: 0px!important
    }
    .mdui-card {
        box-shadow: none!important
    }
    #post p a::after, #post li a::after {
        content: " (" attr(href) ") "
    }
    #main .mdui-card:first-child {
        margin-top: 0px!important
    }
    html>body {
        background-color: white!important
    }
    .mdui-theme-layout-dark main p, .mdui-theme-layout-dark main li {
        color: rgba(0, 0, 0, .95)!important
    }
    img {
        filter: brightness(100%)!important
    }
    body {
        font: 13pt Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif!important
    }
}

.widget {
    margin-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
    white-space: normal!important
}

.widget-list li {
    margin: 5px 0;
    line-height: 1.6
}

.widget-list, .widget-tile {
    list-style: none;
    padding: 0
}

.widget-list li ul {
    margin-left: 15px
}

.widget-tile {
    margin-left: -5px;
    margin-right: -5px
}

.widget-tile li {
    display: inline-block;
    margin: 5px;
    line-height: 1.6;
    color: #666
}

@media(max-width:1023px) {
    #mdrDrawerR {
        padding-top: 56px
    }
}

@media(min-width: 1024px) {
    .mdui-drawer#mdrDrawerR.fixed {
        position: absolute!important;
        overflow-y: hidden;
        right: 0;
        bottom: auto
    }
}

#mdrDrawerL {
    z-index: 4000
}

#mdrDrawerR {
    z-index: 3000;
    padding-bottom: 128px
}

#mdrTab {
    transition: margin-top 1s;
    margin-top: -48px
}

#mdrTab .mdui-tab-indicator {
    top: 0
}

.cl-offset {
    top: -86px
}

.mdui-card-primary-title {
    color: #000
}

.mdui-theme-layout-dark .mdui-card-primary-title {
    color: #fff
}

.mdui-card-primary-title {
    opacity: 1
}

#mdrDrawerLmenu .mdui-list {
    position: relative
}

.mdr-switcher {
    position: absolute;
    top: 14px;
    right: 10px
}

.mdr-switcher .mdui-icon {
    font-size: 18px
}

#mdrDrawerLtoc span {
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    margin-right: 10px;
    font-weight: 400;
    min-width: 7px;
    text-align: center;
}

#pageQrCode {
    background: #fff!important;
    padding: 10px 0px 0px 10px;
    width: 170px;
    height: 170px;
    right: 16px;
    bottom: 16px
}

.post {
    margin-top: 20px
}

.tags {
    margin: 15px 0;
    padding: 0 10px;
    text-align: center
}

.post.status {
    background-color: #e8e8e8
}

.mdui-theme-layout-dark .post.status {
    background-color: #424242
}

.mdui-theme-layout-dark .post.status .inner {
    color: hsla(0, 0%, 100%, .8)!important
}

.post.status .tag, .post.status .time {
    position: absolute;
    top: 0;
    font-size: 15px
}

.mdui-theme-layout-dark .post.status .tag {
    background-color: #525252
}

.mdui-theme-layout-dark .post.status .time {
    color: #5a5a5a
}

.post.status .tag {
    left: 15px;
    padding: 10px;
    border-radius: 0 0 2px 2px;
    background-color: #dadada;
    color: grey
}

.post.status .time {
    right: 0;
    padding: 12px;
    color: #bcbcbc
}

.post.status .inner {
    font-size: 16px;
    padding: 70px 16px 24px
}

.page-navigator {
    list-style: none;
    margin: 20px 0;
    padding: 0px
}

.page-navigator li {
    display: inline-block;
    height: 36px;
    border-radius: 2px;
    line-height: 36px;
    color: #000;
    font-size: 14px;
    will-change: box-shadow;
    background: #e8e8e8;
    text-align: center
}

.mdui-theme-layout-dark .page-navigator li {
    background: #444;
    color: #fff
}

.page-navigator li:hover {
    opacity: .87
}

.page-navigator a, .page-navigator span {
    padding: 11px 16px
}

.page-navigator.ajaxload .next {
    width: 100%
}

#comments {
    margin-top: 8px
}

.comment-list, .comment-list ol {
    padding: 0
}

.comment-list {
    margin-top: 8px
}

.respond {
    background-color: #ededed
}

.mdui-theme-layout-dark .respond {
    background-color: #292929
}

.respond .mdui-card-primary {
    padding-bottom: 0
}

.respond .mdui-card-content, .respond .mdui-textfield:not(:first-child) {
    padding-top: 0
}

.respond #cancel-comment-reply-link {
    padding: 10px 0
}

.footer-nav {
    margin: 32px 0 16px
}

.footer-nav-left {
    text-align: left
}

.footer-nav-right {
    text-align: right
}

.footer-nav-inner {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased
}

.footer-nav-text {
    overflow: hidden;
    margin-left: 34px;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.footer-nav-title {
    margin-bottom: 1px;
    font-size: 15px;
    line-height: 18px;
    opacity: .75
}

.footer-nav-icon {
    padding-top: 24px;
    width: 24px
}

.footer-nav-left .footer-nav-icon {
    float: left;
    margin-right: 10px
}

.footer-nav-right .footer-nav-icon {
    float: right;
    margin-left: 10px
}

.breadcrumbs {
    margin-top: 20px;
    background-color: rgba(180, 180, 180, 0.25)
}

.breadcrumbs .mdui-chip-icon {
    border-radius: 2px
}

#loading {
    left: 0;
    display: none;
    border-radius: 0px;
    z-index: 9999;
    position: fixed
}

/**TODO #19 */

#music {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#music span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    opacity: .08
}

#music.play span i {
    position: absolute;
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    background: #aaa;
    transition: width .5s
}