/**
 * MDr 是一套基于 MDUI 开发的 Typecho 模板
 */

table {
    width: 100%;
    border-radius: 2px;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid rgba(0, 0, 0, .12)
}

table td,
table th {
    padding: 6px 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    border-right: 1px solid rgba(0, 0, 0, .12)
}

table tr th:last-child,
table tr td:last-child {
    border-right: none
}

table tr:last-child td {
    border-bottom: none
}

.mdui-theme-layout-dark table,
.mdui-theme-layout-dark table td,
.mdui-theme-layout-dark table th {
    border-color: rgba(255, 255, 255, .12);
}

form.protected {
    margin: 0
}

form.protected p:last-child {
    position: relative;
    overflow: hidden;
    margin-bottom: 0
}

form.protected .word {
    margin: 0
}

form.protected .text {
    display: block;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 8px 0;
    margin-bottom: 16px;
    overflow: hidden;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, .87);
    background: 0 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    transition: border-bottom-width .2s;
    border-radius: 0;
    outline: 0;
}

form.protected .text:hover,
form.protected .text:focus {
    border-bottom-width: 2px
}

.mdui-theme-layout-dark form.protected .text {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, .7);
}

form.protected .submit {
    position: relative;
    height: 36px;
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: inherit;
    text-align: center;
    background: 0 0;
    border: none;
    border-radius: 2px;
    outline: 0;
    display: block;
    width: 100%
}


/* TODO #19 */

a {
    color: #444;
    border: 0;
    text-decoration: none
}

.mdui-theme-layout-dark a {
    color: #fff;
}

ul {
    padding-left: 30px
}

ul li p {
    margin: 0
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
    -webkit-box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, .25)
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
}

body.mdui-theme-layout-dark::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3) !important
}

.mdui-theme-layout-dark img {
    filter: brightness(75%)
}

.error-page {
    margin-top: 128px;
    margin-bottom: 512px;
    text-align: center
}

.avatar {
    border-radius: 50%
}

#post img,
#post video,
.comment-content img,
.comment-content video,
.whisper img,
.whisper video {
    max-width: 100%
}

.author-icon {
    font-size: 12px;
    line-height: 19px;
    text-align: center
}

.copyright {
    color: #999;
    font-size: .875em;
    line-height: 1.5
}

.mdui-container {
    max-width: 960px
}

@media(max-width: 1023px) {
    .mdui-container {
        padding: 0
    }
    footer {
        padding: 0 8px
    }
}

html.pray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

@media print {
    header,
    .mdui-fab,
    .respond {
        display: none !important
    }
    body {
        padding-top: 0px !important
    }
    .mdui-card {
        box-shadow: none !important
    }
    #post p a::after,
    #post li a::after {
        content: " ("attr(href) ") "
    }
    #main .mdui-card:first-child {
        margin-top: 0px !important
    }
    html>body {
        background-color: white !important
    }
    .mdui-theme-layout-dark main p,
    .mdui-theme-layout-dark main li {
        color: rgba(0, 0, 0, .95) !important
    }
    img {
        filter: brightness(100%) !important
    }
    body {
        font: 13pt Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif !important
    }
}

#mdrDrawerL {
    z-index: 4000
}

#search .mdui-textfield {
    padding: 0 16px 16px
}

#mdrTab {
    transition: margin-top 1s;
    margin-top: -48px
}

#mdrTab .mdui-tab-indicator {
    top: 0
}

@media (min-width: 1440px) {
    .mdui-tab a {
        min-width: 112px !important;
    }
}

.cl-offset {
    top: -86px
}

#mdrDrawerLmenu .mdui-list {
    position: relative
}

#mdrDarkMode {
    position: absolute;
    top: 84px;
    right: 10px
}

#mdrDarkMode .mdui-icon {
    font-size: 18px
}

#mdrDrawerLtoc span {
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    margin-right: 10px;
    font-weight: 400;
    min-width: 7px;
    text-align: center;
}

#pageQrCode {
    background: #fff !important;
    padding: 10px 0px 0px 10px;
    width: 170px;
    height: 170px;
    right: 8px;
    top: 8px
}

.tags {
    margin: 15px 0;
    padding: 0 10px;
    text-align: center
}

#post .mdui-card-header {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 56px
}

div.mdui-card-header-avatar img {
    border-radius: 50%
}

#comments {
    margin-top: 8px
}

.comment-list,
.comment-list ol {
    padding: 0
}

.comment-list {
    margin-top: 8px
}

.respond {
    background-color: #ededed
}

.mdui-theme-layout-dark .respond {
    background-color: #292929
}

.respond .mdui-card-primary {
    padding-bottom: 0
}

.respond .mdui-card-content,
.respond .mdui-textfield:not(:first-child) {
    padding-top: 0
}

.respond #cancel-comment-reply-link {
    padding: 10px 0
}

.footer-nav {
    margin: 32px 0 16px
}

.footer-nav-left {
    text-align: left
}

.footer-nav-right {
    text-align: right
}

.footer-nav-inner {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased
}

.footer-nav-text {
    overflow: hidden;
    margin-left: 34px;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.footer-nav-title {
    margin-bottom: 1px;
    font-size: 15px;
    line-height: 18px;
    opacity: .75
}

.footer-nav-icon {
    padding-top: 24px;
    width: 24px
}

.footer-nav-left .footer-nav-icon {
    float: left;
    margin-right: 10px
}

.footer-nav-right .footer-nav-icon {
    float: right;
    margin-left: 10px
}

#loading {
    left: 0;
    display: none;
    border-radius: 0px;
    z-index: 9999;
    position: fixed
}

.mdui-fab {
    z-index: 9999;
}

.comment-body {
    margin-bottom: 8px;
}

.comment-content {
    padding: 0px 16px;
}

.pingback {
    background-color: unset !important;
}