/**
 * Main
 */

/**
 * Page
 */

/** Breadcrumbs */

.mdr-breadcrumbs {
    margin-top: 20px;
    background-color: rgba(180, 180, 180, 0.25);
}

.mdr-breadcrumbs .mdui-chip-icon {
    background: none;
}

.mdr-breadcrumbs .mdui-chip-icon .mdui-icon {
    color: #444;
}

.mdr-breadcrumbs .mdui-chip-title {
    width: calc(100% - 48px);
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mdui-theme-layout-dark .mdr-breadcrumbs .mdui-chip-icon .mdui-icon {
    color: #fff;
}

/** QR Code */

.mdr-qrcode {
    background: #fff !important;
    line-height: 0px;
    width: 170px;
    height: 170px;
    padding: 10px 0;
}

.mdr-qrcode canvas {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

/** Site Archived Notive */

.mdr-site-archived {
    padding: 8px;
    height: 32px;
    text-align: center;
}

.mdr-site-archived .mdui-chip {
    max-width: 100%;
    overflow-x: scroll;
    background-color: #fff8e1;
    color: #aa6800;
}

.mdr-site-archived .mdui-chip-icon {
    background-color: #aa6800;
}

.mdr-site-archived .mdui-icon {
    color: #fff8e1;
}

.mdui-theme-layout-dark .mdr-site-archived .mdui-chip {
    background-color: #272116;
    color: #aa6800;
}

.mdui-theme-layout-dark .mdr-site-archived .mdui-icon {
    color: #272116;
}

.mdr-site-archived .mdui-chip::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/**
 * Post
 */

/** Content */

.mdr-post .mdui-typo {
    font-size: 16px;
    line-height: 1.75;
}

.mdr-post .mdui-card-primary,
.mdr-post .mdui-card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.mdr-post .mdui-typo blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 24px;
}

/** Tags */

.mdr-tags {
    padding: 0 24px 16px;
    text-align: center
}

.mdr-tags .mdui-chip {
    margin: 0 2px 8px;
}

/** License */

.mdr-license {
    padding: 24px;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
}

.mdr-license,
.mdr-license p {
    margin: 0;
}

.mdr-license svg {
    position: absolute;
    width: 128px;
    height: 128px;
    top: -35px;
    right: -22px;
    opacity: .25;
}

body.mdui-theme-layout-dark .mdr-license {
    background-color: #383838;
}

body.mdui-theme-layout-dark .mdr-license svg {
    filter: invert(1);
}

/** Sponsor */

.mdr-sponsor {
    text-align: center;
}

.mdr-sponsor .mdui-btn {
    border-radius: 5px;
}